.details {
  height: 100vh;
  overflow: hidden;
}
.details__body {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #169baf 0%,
    #6c29b3 29%,
    #e62464 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-decoration-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h1 {
  text-align: center;
  margin: 5vh 0;
}
.big__blocks {
  display: flex;
  margin-top: 7vh;
  justify-content: space-between;
  width: 80%;
}
.block {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;
  width: 35vw;
  height: 40vh;
}
.TwoBtns {
  margin-top: 3vh;
  width: 80%;
  display: flex;
}
.Btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  background-color: blue;
  border: none;
  color: white;
  width: 10vw;
  padding: 10px;
  margin-right: 3vw;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.Btn:hover {
  background-color: rgb(5, 113, 244);
}

.inputHolder {
  width: 80%;
  margin-top: 5vh;
}
.NameInput {
  border: none !important;
  padding: 12px;
  width: 25%;
}
.BtnContainer {
  width: 80%;
  margin-top: 5vh;
}
