.backGroundVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home{
    height: 100vh;
    overflow: hidden;
}
.titleContainer{
    position: absolute;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 15%;   
    top: 30%;
    color: aliceblue;
    z-index: 9;
}

.home-title{
    font-size: 3rem;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #169baf 0%,
    #6c29b3 29%,
    #e62464 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-decoration-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

.title__btn{
    padding: 15px;
    width: 12rem;
    background-color: rgb(10, 33, 137);
    border: none;
    color: aliceblue;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ;
}

.title__btn:hover{
    background-color: rgb(13, 30, 227);
}
